{
  "openapi": "3.0.3",
  "info": {
    "title": "Sundsvalls Kommuns öppna data",
    "version": "1.0"
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://api.sundsvall.se/opendata/1.0",
      "description": "production environment"
    },
    {
      "url": "https://api-test.sundsvall.se/opendata/1.0",
      "description": "test environment"
    }
  ],
  "paths": {
    "/api-docs": {
      "get": {
        "description": "Returns this OpenAPI specification",
        "operationId": "getOpenAPI",
        "security": [{}],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/beaches": {
      "get": {
        "operationId": "getBeaches",
        "description": "Get information about public beaches.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of this Beach",
                            "example": "urn:ngsi-ld:Beach:se:sundsvall:facilities:553"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of this beach",
                            "example": "Bergafjärdens Havsbad"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": ["Point"]
                              },
                              "coordinates": {
                                "type": "array",
                                "description": "WGS84 longitude and latitude",
                                "minItems": 2,
                                "maxItems": 3,
                                "items": {
                                  "type": "number"
                                },
                                "example": [17.454723, 62.266598]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/beaches/{id}": {
      "get": {
        "operationId": "getBeachByID",
        "description": "Get information about a single beach.",
        "parameters": [{
          "in": "path",
          "name": "id",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "ID of the Beach to retrieve"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this Beach",
                          "example": "urn:ngsi-ld:Beach:se:sundsvall:facilities:553"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of this beach",
                          "example": "Bergafjärdens Havsbad"
                        },
                        "description": {
                          "type": "string",
                          "description": "A description about this beach",
                          "example": "Bergafjärden i Njurunda är ett havsbad med 800 m fin sandstrand och långgrunt, vilket gör att den passar bra för familjer med barn. Butik och servering, grillplats, minigolf, lekplats och toalett finns vid stranden. Bergafjärden är öppet maj-september och vattenprover tas. Badet ligger vid Bergafjärdens camping."
                        },
                        "location": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["Point"]
                            },
                            "coordinates": {
                              "type": "array",
                              "description": "WGS84 longitude and latitude",
                              "minItems": 2,
                              "maxItems": 3,
                              "items": {
                                "type": "number"
                              },
                              "example": [17.454723, 62.266598]
                            }
                          }
                        },
                        "waterquality": {
                          "type": "array",
                          "description": "An array of water quality observations, sorted in reversed historical order",
                          "items": {
                            "type": "object",
                            "properties": {
                              "temperature": {
                                "type": "number",
                                "example": 11.7
                              },
                              "dataProvider": {
                                "type": "string",
                                "format": "uri",
                                "example": "https://badplatsen.havochvatten.se/"
                              },
                              "dateObserved": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "weather": {
                          "type": "array",
                          "description": "An array of weather observations, sorted in reversed historical order",
                          "items": {
                            "type": "object",
                            "properties": {
                              "temperature": {
                                "type": "number",
                                "example": 16.2
                              },
                              "windDirection": {
                                "type": "number",
                                "description": "The wind direction expressed in decimal degrees compared to geographic North (measured clockwise).",
                                "minimum": 0,
                                "maximum": 360,
                                "exclusiveMaximum": true,
                                "example": 127
                              },
                              "windSpeed": {
                                "type": "number",
                                "description": "The observed wind speed in m/s.",
                                "minimum": 0,
                                "example": 6
                              },
                              "dataProvider": {
                                "type": "string",
                                "format": "uri",
                                "example": "https://www.smhi.se/"
                              },
                              "dateObserved": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "refSeeAlso": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          },
                          "example": [
                            "https://badplatsen.havochvatten.se/badplatsen/karta/#/bath/SE0712281000003475",
                            "https://www.wikidata.org/wiki/Q16498519"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/temperature/air": {
      "get": {
        "operationId": "getAirTemperatures",
        "description": "Get temperature values from a given sensor.<p>Available sensors are returned from the /temperature/air/sensors endpoint.",
        "parameters":[
          {
            "name": "sensor",
            "in": "query",
            "description": "ID of the temperature sensor to query.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeAt",
            "in": "query",
            "description": "Select temperatures from time",
            "example": "2021-06-01T00:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTimeAt",
            "in": "query",
            "description": "Select temperatures up to time",
            "example": "2021-07-01T00:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "options",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["aggregatedValues"]
            }
          },
          {
            "name": "aggrMethods",
            "in": "query",
            "description": "Select aggregation methods. (options MUST be set to aggregatedValues)",
            "schema": {
              "type": "string",
              "enum": ["avg", "max,min", "avg,max,min"]
            }
          },
          {
            "name": "aggrPeriodDuration",
            "in": "query",
            "description": "Select aggregation period. (options MUST be set to aggregatedValues)",
            "schema": {
              "type": "string",
              "enum": ["PT1H", "PT24H", "P7D"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/temperature/air/sensors": {
      "get": {
        "operationId": "getAirTemperatureSensors",
        "description": "Get available temperature sensors.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/temperature/water": {
      "get": {
        "operationId": "getWaterTemperatures",
        "description": "Get water temperature information.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/trafficflow": {
      "get": {
        "operationId": "getTrafficFlow",
        "description": "Get traffic flow information.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/stratsys/publishedreports": {
      "get": {
        "operationId": "getStratsysReports",
        "description": "Get published reports from stratsys.se.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/stratsys/publishedreports/{reportId}": {
      "get": {
        "operationId": "getStratsysReportByID",
        "description": "Get a published report by ID from stratsys.se.",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "ID of the report to be retrieved",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}