{
  "openapi": "3.0.3",
  "info": {
    "title": "Sundsvalls Kommuns öppna data",
    "version": "1.0"
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://api.sundsvall.se/opendata/1.0",
      "description": "production environment"
    },
    {
      "url": "https://api-test.sundsvall.se/opendata/1.0",
      "description": "test environment"
    }
  ],
  "paths": {
    "/openapi": {
      "get": {
        "description": "Returns this OpenAPI specification",
        "operationId": "getOpenAPI",
        "security": [{}],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/beaches": {
      "get": {
        "operationId": "getBeaches",
        "description": "Get information about public beaches.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/temperature/air": {
      "get": {
        "operationId": "getAirTemperatures",
        "description": "Get temperature values from a given sensor.<p>Available sensors are returned from the /temperature/air/sensors endpoint.",
        "parameters":[
          {
            "name": "sensor",
            "in": "query",
            "description": "ID of the temperature sensor to query.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeAt",
            "in": "query",
            "description": "Select temperatures from time",
            "example": "2021-06-01T00:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTimeAt",
            "in": "query",
            "description": "Select temperatures up to time",
            "example": "2021-07-01T00:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "options",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["aggregatedValues"]
            }
          },
          {
            "name": "aggrMethods",
            "in": "query",
            "description": "Select aggregation methods. (options MUST be set to aggregatedValues)",
            "schema": {
              "type": "string",
              "enum": ["avg", "max,min", "avg,max,min"]
            }
          },
          {
            "name": "aggrPeriodDuration",
            "in": "query",
            "description": "Select aggregation period. (options MUST be set to aggregatedValues)",
            "schema": {
              "type": "string",
              "enum": ["PT1H", "PT24H", "P7D"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/temperature/air/sensors": {
      "get": {
        "operationId": "getAirTemperatureSensors",
        "description": "Get available temperature sensors.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/temperature/water": {
      "get": {
        "operationId": "getWaterTemperatures",
        "description": "Get water temperature information.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/trafficflow": {
      "get": {
        "operationId": "getTrafficFlow",
        "description": "Get traffic flow information.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}